.item{
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    height: 30px;
    align-items: center;
    margin: 10px 0;
}
.button-bar{
    width: 12%;
    display: flex;
    justify-content: space-between;
}
i{
    cursor: pointer;
}
.done{
    text-decoration:line-through;
}
.item-done-button{
    color:rgba(94, 255, 0, 0.6);
}
.item-delete-button{
    color:rgba(255, 0, 0, 0.6)
}
.item-done-button:hover{
    transition:ease-in 400ms ;
    color:rgb(94, 255, 0);
}
.item-delete-button:hover{
    transition:ease-in 400ms;
    color:rgb(255, 0, 0);
}